<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Balance</title>
</head>
<body>
    <div class="banner">
        <div class="banner__container">
            <div class="banner__circle1"></div>
        </div>
    </div>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/logo.svg">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">

        <section class="main__totalBalance">
            <article class="totalBalance__circle">
                <h2>total</h2>
                <h2>balance</h2>
                <h2><sub>$</sub>214.417</h2>
            </article>
        </section>

        <section class="main__graphic">
            <article class="graphic__buttons">
                <button class="buttons__btn1">assets</button>
                <button class="buttons__btn2">debt</button>
                <button class="buttons__btn3">income</button>
            </article>
            <article class="graphic__img">
                <img src="../storage/img/graficaBalance.png" alt="">
            </article>
        </section>

        <section class="main__spending">
            <div class="spending__close">
                <i class='bx bx-x'></i>
            </div>
            <div class="spending__card">
                <img src="../storage/img/img_card.svg" alt="">
            </div>
            <div class="spending__text">
                <h2>spending.</h2>
                <small>you forgot to add debt card number at payment #132. Add it now</small>
            </div>
        </section>

    </main>








    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_4.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon_5.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>